body{
  background: #FFFFFF;
  margin: 0px;
  font-family: "Century Gothic", sans-serif;
}
h2{
  font-size: 32px;
}

h1{
  color: #E11A2B;
}

h3{
  font-size: 14px; 
}

a{
  text-decoration: none;
  color: #222222;
  font-size: 18px;
}

p{
  font-size: 12px;
}

.btn{
  background-color: #FFFFFF;
  border: 2px solid #E11A2B;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  color: #E11A2B;
  text-transform: uppercase;
  font-size: 12px;
  margin: 10px;
}

.lightbox-open{
  overflow: hidden;
}

#background {
  background-image: url('images/backimage.gif');
  background-size: cover;
  min-height: 300px;
}

#redline{
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 100%;
 height: auto;
 padding-top: 15px;
 padding-bottom: 15px;
 
}

#logo {
  width: 200px;
  padding-top: 50px;
  padding-left: 25px;
}

.block{
  background: #F2F2F2;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 15px; 
  z-index: 0;
}


.text-center {
  text-align: center;
}


#lightbox {
  display:none;
  background: rgba(0,0,0,0.8);
  position:fixed;
  top:0px;
  left:0px;
  min-width:100vw;
  min-height: 100vh;
  z-index:1;
}

#lightbox-panel {
  display:none;
  position:fixed;
  top:10px;
  /*left:50%;
  margin-left:-200px;
  width:400px;
*/  
  background:#FFFFFF;
  padding:10px 15px 25px 15px;
  border:2px solid #CCCCCC;
  z-index:999;
  margin-left: 23%;
  margin-right: 23%;
}


.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: 768px) {
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
  }
  .col-xs-12 {
    float: left;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-offset-1 {
    margin-left: 8.33333333%;
  }
}

@media (min-width: 768px) {
  .col-sm-6{
    float: left;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
}
